.center-content {
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: row;
  font-size: 54px;
}

.error ion-icon {
  font-size: 32px;
}

.home-actions {
  width: 100%;
  max-width: 340px;
  padding: 24px 16px 0;
  box-sizing: border-box;
}
